{% extends "themes/Shards/base.twig" %}

{% block pageContent %}
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
        </div>
    </div>
    <!-- End Page Header -->
{% endblock %}
