{% extends 'themes/whatsapp-web/base.twig' %}

{% block left %}
{% endblock left %}

{% block right %}
    <div class="container">
        <h1 style="text-align: center; margin: 20px 0">ERROR</h1>
    </div>
{% endblock right %}
