{% extends 'themes/Colorlib/base.twig' %}
{% block content %}
    <!-- Single Blog Post -->
    <div class='single_post'>
        <div class='container'>
            <div class='row'>
                {{ slider_widget_widget({})}}
                {{ page.0.page_content | raw }}
            </div>
        </div>
    </div>

{% endblock %}