<div class="col-sm-8 chat-owerflow" style="display: block"></div>
<div class="col-sm-8 conversation">

    <div class="row heading">
        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </div>
        </div>
        <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">
                ИМЯ КОНТАКТА
            </a>
            <input type="hidden" class="current-chat-id" value="">
            <span class="heading-online">СТАТУС</span>
        </div>
        <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>

        </div>
    </div>
    <div class="coll-sm-12">
        <div class="row message" id="conversation">

{#            <div class="row message-previous">#}
{#                <div class="col-sm-12 previous">#}
{#                    <a href="#">#}
{#                        Показать ранние сообщения#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}


            <div class="row col-sm-12 message-body message-body-receiver receiver-template ">
                <div class="col-sm-12 message-main-receiver">
                    <div class="receiver">
                        <span class="messenger-name"></span>
                        <div class="message-text">
                            Hi, what are you doing?!
                        </div>
                        <span class="message-time pull-right">
                    Sun
                  </span>
                    </div>
                </div>
                <input type="hidden" class="raw-time" value=""/>
                <input type="hidden" class="last-message-id" value=""/>
            </div>

            <div class="row col-sm-12 message-body  message-body-receiver sender-template ">
                <div class="col-sm-12 message-main-sender">
                    <div class="sender">
                        <span class="messenger-name"></span>
                        <div class="message-text">
                            I am doing nothing man!
                        </div>
                        <span class="message-time pull-right">
                            Sun
                        </span>
                    </div>
                </div>
                <input type="hidden" class="raw-time" value=""/>
                <input type="hidden" class="last-message-id" value=""/>

            </div>


        </div>
    </div>

    <div class="row reply">
        <form formid="main" content="multipart/form-data">
            <div class="col-sm-1 col-xs-1 reply-emojis">
                <span class="btn-file">
                    <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
                    <input type="file" name="upload-file" class="upload-file" multiple>
                </span>


            </div>
            <div class="col-sm-10 col-xs-10 reply-main">
                <textarea class="form-control" rows="1" id="comment"></textarea>
            </div>
            <div class="col-sm-1 col-xs-1 reply-recording">
                <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-xs-1 reply-send" style="display: none">
                <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
            </div>
        </form>
    </div>

</div>
