<div class="clear-menu-item">
    <a href="#" class="close delete-menu-item"> x </a>
    <div class="AJAX-menu-loading">
        <div class="overlay"></div>
        <img src="/web/images/gears-loading.gif">
    </div>

    <div class="form-group title-group">
        <label for="title">Отображаемое имя пункта меню</label>
        <input type="text" class="form-control title" placeholder="Укажите отображаемое имя пункта меню" value="">
    </div>
    <div class="form-group destinations">
        <label for="destinationType">Куда ведет</label>
        <div class="destinations-block" >
            <select class="form-control destinationType">
                <option value="empty"></option>
            </select>
            <select class="form-control destinationPoint">
                <option value="empty"></option>
            </select>
        </div>
    </div>
    <a href="#" class="add-sub-menu" > <i class="fa fa-plus" aria-hidden="true"></i></a>
</div>
